.body{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.calculator {
  border: 1px solid black;
  height: 600px;
  width: 500px;
  border-radius: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  
}

.Button{
  min-width: 80px;
  margin: 5px;
}

.title {
  font-size: 60px;
  margin: 20px;
  font-weight: 600;
  text-align: center;
}

.display {
  width: 250px;
  height: 50px;
}

.body-container{
  width: 50%;
  height:auto;
  border: 1px solid black;
  border-radius: 5px;
  
}

.column-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.display-text{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  border-radius: 5px;
}

.input-text{
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

.add-button{
  margin: 8px;
  margin-right: 120px;
  margin-left: 120px;
}

.list-item-container{
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px; 

}

.delete-button-container{
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  margin-right: 10px;
}
.delete-button{
  float: right;
  
}